@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

    body,
    html {
        font-family: 'Nunito', sans-serif;
        margin: 0px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .controls {
        min-height: 10vh;
        background: black;
        color: white;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #cy {
        width: 100%;
        height: 90vh;
        background-color: black;
        top: 0px;
        left: 0px;
    }

    input[type=checkbox] {
        visibility: hidden;
    }

    .checkbox-example {
        width: 45px;
        height: 15px;
        background: #555;
        margin: 20px 10px;
        position: relative;
        display: flex;
        border-radius: 5px;
    }

    .checkbox-example label {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: -2px;
        left: -3px;
        background: #ccc;
    }

    .checkbox-example input[type=checkbox]:checked+label {
        left: 27px;
    }

    .param {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_h1,
    #hide_show_data_toggle,
    #group_entities_toggle {
        margin: 0px;
    }

    .explainations {
        font-size: 13px;
        line-height: 13px;
        text-align: center;
    }

    #loading {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
        background-color: #55555555;
        display: flex;
        transition: all 0.5s;
    }
    #logo_svg {
        margin: auto;
        opacity: 1;
        transition: all 0.2s;
        animation-name: stretch;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
    @keyframes stretch {
        0% {
            transform: scale(0.9);
        }
        67% {
            transform: scale(0.9);
        }
    }